<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:title" content="codigm job">
<meta property="og:site_name" content="codigm job">
<meta property="og:url" content="http://gogoorm.run.goorm.io">
<meta property="og:image" content="https://statics.goorm.io/images/codigm/codigm_meta.jpg">
<meta name="og:description" content="Codigm develops and operates the goorm cloud-coding service brand. Codigm serves Cloud integrated development environment goormIDE, cloud SW education environment goormEDU, cloud coding test environment goormTEST.">

<title>Codigm Job Interview</title>

<link rel="apple-touch-icon" sizes="120x120" href="https://ide.goorm.io//favicon-120.png?v=1519518746013">
<link rel="apple-touch-icon" sizes="152x152" href="https://ide.goorm.io//favicon-152.png?v=1519518746013">
<link rel="shortcut icon" type="image/png" sizes="32x32" href="https://ide.goorm.io//favicon-32.png?v=1519518746013">
<link rel="shortcut icon" type="image/png" sizes="96x96" href="https://ide.goorm.io//favicon-96.png?v=1519518746013">
<link rel="shortcut icon" type="image/png" sizes="192x192" href="https://ide.goorm.io//favicon-192.png?v=1519518746013">

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

        
<link rel="stylesheet" href="/stylesheet/global.css">
<link rel="stylesheet" href="/stylesheet/home.css">

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>




