<script src="js/chatmgr.js"></script>

<div class="row">
    <div class="col-6">
        <div class="entireChatContainer ml-auto mr-auto col-12">
            <div class="row">
                <div id='roomTitle' class="col-12 roomTitle bg-faded">
                    <strong>All</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-12 chatroomContainer">
                    <div id="chatroom" class="chatRoom">
                        <ul id="messages"></ul>

                        <!-- message form jquery -->

                    </div>


                </div>
                <div class="input-group">
                    <input id="m" type="text" class="form-control" placeholder="..." autocomplete="off">
                    <span class="input-group-btn">
                        <button id="sendBtn" class="btn btn-secondary" type="button">Send</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="ml-auto mr-auto col-12">
            <div class="row">
                <div class="col-12 chatroomlist">
                    <div class="col-12 roomTitle bg-faded">
                        <strong>Users</strong>
                    </div>
                    <div id="chatroomlist" class="bg-white">
                        <div class="row chatroomlistblock">
                            <div class="col-6">
                                <span class="align-middle">All</span>
                            </div>
                            <div class="ml-auto col-6 text-right">
                                <button type="button" class="ml-auto btn btn-info btn-sm">Chat</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>